<div class="row background-blue jumbotron">
  <div class="col-sm-12 col-md-6">
    <%= image_tag("screenshot1.png") %>
  </div>
  <div class="col-sm-12 col-md-6 text-center">
    <h1 class="h1-classiq">Do you Want to Improve Yourself, but aren't motivated enough to do it?</h1>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-2 col-md-8 text-center">

  <div class="playstore">
    <i class="fa fa-android android-icon"></i>
    soon available on <br> <b class="big-font">Google Play</b>
  </div>

  </div>
</div>

  </div>
</div>

<div class="row jumbotron how-it-works">
  <a name="how-it-works"></a>
  <div class="col-sm-12 col-md-6">
<h1 class="h1-classiq" style="color:black">
   Challenge Friends with Meaningful Goals, <br>and Achieve Greatness Together!
</h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <%= image_tag("screenshot2.png") %>
  </div>
</div>

<div class="row jumbotron background-blue">
  <h1 class="text-center h1-classiq" style="margin-bottom:100px">
    Start Challenging Yourself and Friends today!
  </h1>
  <div class="col-xs-12 col-sm-4">
    <i class="fa fa-futbol-o activity"></i><br>
    <h3 class="text-center text-classiq">Play soccer once a week!</h3>
  </div>



  <div class="col-xs-12 col-sm-4">
    <i class="fa fa-book activity"></i><br>
    <h3 class="text-center text-classiq">Finish a book every month!</h3>
  </div>


  <div class="col-xs-12 col-sm-4">
    <i class="fa fa-calculator activity"></i><br>
    <h3 class="text-center text-classiq">Practise Mental Math every day!</h3>
  </div>


</div>

  <div class="row contact-info" style="margin-top:100px">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "http://ca.linkedin.com/in/itshenryliu/" do %>
        <i class="fa fa-linkedin-square contact-icon"></i><br>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= link_to "https://github.com/team-fly/itsON/
  " do %>
      <i class="fa fa-github-alt contact-icon"></i><br>
  <% end %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= link_to "https://www.dropbox.com/sh/yraa123oqyr57gn/AACcCIRQyIFHnza263LRlY7sa" do %>
        <i class="fa fa-dropbox contact-icon"></i><br>
      <% end %>
    </div>
  </div>
</div>