<div class="row navbar-blue jumbotron">
  <div class="col-xs-6">
    <%= image_tag("screenshot1.png") %>
  </div>
  <div class="col-xs-6 text-center">
    <h1 style="color:white; font-family:qlassikbold; margin-top: 100px">Do you Want to Improve Yourself, but aren't motivated enough to do it?</h1>

  <div class="playstore">
    <i class="fa fa-android" style="color:#97C03E; font-size:20px; margin-right:15px "></i>
    soon available on <br> <b style="font-size: 30px">Google Play</b> </div>
  </div>
</div>

<div class="row jumbotron how-it-works" style="background:white">
  <a name="how-it-works"></a>
  <div class="col-xs-6">
<h1 style="color:#1782B8; font-family:qlassikbold; margin-top: 100px">

   Challenge Friends with Meaning Goals, <br>and Achieve Greatness Together!
</h1>

  </div>
  <div class="col-xs-6">
    <%= image_tag("screenshot2.png") %>
  </div>
</div>

<div class="row jumbotron navbar-blue">
  <h1 class="text-center" style="color:white; font-family:qlassikbold; margin-top: 100px; margin-bottom:100px">
    Start Challenging Yourself and Friends today!
  </h1>
  <div class="col-xs-4">
    <i class="fa fa-futbol-o" style="color:white; font-size:150px; display: inline-block;
width: 100%;
text-align: center"></i><br>
    <h3 class="text-center" style="color:white;font-family:qlassikbold; ">Play soccer once a week!</h3>
  </div>



  <div class="col-xs-4">
    <i class="fa fa-book" style="color:white; font-size:150px; display: inline-block;
width: 100%;
text-align: center"></i><br>
    <h3 class="text-center" style="color:white;font-family:qlassikbold; ">Finish a book every month!</h3>
  </div>


  <div class="col-xs-4">
    <i class="fa fa-calculator" style="color:white; font-size:150px; display: inline-block;
width: 100%;
text-align: center"></i><br>
    <h3 class="text-center" style="color:white;font-family:qlassikbold; ">Practise Mental Math every day!</h3>
  </div>


</div>

<div class="row contact-info" style="margin-top:100px">
      <div class="col-xs-4">
      <%= link_to "http://ca.linkedin.com/in/itshenryliu/" do %>
    <i class="fa fa-linkedin-square" style="color:grey; font-size:120px; display: inline-block;
width: 100%;
text-align: center"></i><br>
    <% end %>
  </div>

  <div class="col-xs-4">
    <%= link_to "https://github.com/team-fly/itsON/
" do %>

    <i class="fa fa-github-alt" style="color:grey; font-size:120px; display: inline-block;
width: 100%;
text-align: center"></i><br>
<% end %>
  </div>

  <div class="col-xs-4">
    <%= link_to "https://www.dropbox.com/sh/yraa123oqyr57gn/AACcCIRQyIFHnza263LRlY7sa" do %>
    <i class="fa fa-dropbox" style="color:grey; font-size:120px; display: inline-block;
width: 100%;
text-align: center"></i><br>
<% end %>
  </div>



</div>
</div>